<div id="editProvincia"  data-backdrop="static" data-keyboard=false class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #3598dc">
                <button  type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 style="color: whitesmoke" class="modal-title">EDITAR PROVINCIA</h4>
            </div>
            <div class="modal-body">
                <div class="scroller" style="height: 150px" data-always-visible="1" data-rail-visible1="1">
                    <div class="row">
                        <div class="portlet-body form">
                            <form class="form-horizontal" role="form">
                                <div class="form-body">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Código</label>
                                        <div class="col-md-9">
                                            <div class="input-group input-icon right">
												<span class="input-group-addon">
												<i class="fa fa-tag"></i>
												</span>
                                                <i style="color: #dc141b" class="fa fa-exclamation tooltips hidden editCodigo" data-placement="bottom" data-original-title="Este campo es obligatorio" ></i>
                                                <input type="text" class="form-control" placeholder="Teclee el código" id="editCodigo" name="editCodigo">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Nombre</label>
                                        <div class="col-md-9">
                                            <div class="input-group input-icon right">
												<span class="input-group-addon">
												<i class="fa fa-comment"></i>
												</span>
                                                <i style="color: #dc141b" class="fa fa-exclamation tooltips hidden editNombre" data-placement="bottom" data-original-title="Este campo es obligatorio" ></i>
                                                <input type="text" class="form-control" placeholder="Teclee el nombre" id="editNombre" name="editNombre">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn default cerrar">Cerrar</button>
                <button type="button" disabled  class="btn green" id="editGuardar">Guardar</button>
            </div>
        </div>
    </div>
</div>